server:
  port: 8083

spring:
  application:
    name: tenant-service
  datasource:
    url: jdbc:postgresql://localhost:5432/tenant_service
    username: postgres
    password: Mike@133
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest