server:
  port: 8082

spring:
  application:
    name: user-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/user-service
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
cloudinary:
  cloud_name: dlqctt0xm
  api_key: 396912196479444
  api_secret: wuh4nJlDdGVp_pnVS9iaT3x_tcc