server:
  port: 8082

spring:
  application:
    name: user-service
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: userDB
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
cloudinary:
  cloud_name: ${CLOUDINARY_CLOUD_NAME}
  api_key: ${CLOUDINARY_API_KEY}
  api_secret: ${CLOUDINARY_API_SECRET}
jwt:
  secret: ${JWT_SECRET}
internal:
  jwt:
  secret: ${INTERNAL_JWT_SECRET}

#  mukeshswain2844_db_user
#  0ETZ3LhgU5vCgK9Q
